<nb-card>
    <nb-card-header class="header">
      Doctors Under Registeration<br>
      <div class="row text-center" style="margin-top:2em;" *ngIf="isSelected">
        <div class="col-md-4">
          <button class="btn btn-success btn-round">Activate</button>
        </div>
        
        <div class="col-md-4">
          <button class="btn btn-primary btn-round">Send Msg</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-danger btn-round">Delete</button>
        </div>
    </div>
    </nb-card-header>
  
    <nb-card-body class="custom-card">
    <div class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="userRowSelect($event)" (custom)="onCustomAction($event)">
      </ng2-smart-table>
    </div>
    </nb-card-body>
  </nb-card>
  