@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .header{
    position: sticky;
    top: 12px;
    /* left: 50px; */
    background-color: black;
    z-index: 5;
    color: white;
  }
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  .custom-card{
    overflow-x: scroll;
  }
  .btn-success{
    background-color: green;
  }
  .btn-warning{
    background-color: #E91E63;
  }
  /deep/ ng2-st-tbody-edit-delete {
    display: flex !important;
    height: 0 !important;
  }
  /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    /*display: inherit;*/
    width: 135px;
    text-align: center;
    font-size: 1em !important;
    padding: 9px !important;
    
  }
  /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3; 
  }
  .full-width {
    flex: 1;
    min-width: 220px;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
}
