@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .header{
    position: sticky;
    top: 12px;
    /* left: 50px; */
    background-color: black;
    z-index: 5;
    color: white;
  }
  
  .nb-mail{
    margin-top: 5px;
  }
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  .etxt{
    transition-duration:0.2s;
  }
  .custom-card{
    overflow-x: scroll;
  }
  .btn-success{
    background-color: green;
  }
  .btn-warning{
    background-color: #2196F3;
  }
  
  /deep/ ng2-st-tbody-edit-delete {
    display: flex !important;
    height: 0 !important;
  }
  /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    /*display: inherit;*/
    width: 135px;
    text-align: center;
    font-size: 1em !important;
    padding: 9px !important;
    
  }
  /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3; 
  }
  nb-card-footer {
    padding-bottom: 0.25rem;

    button {
      @include nb-ltr(margin, 0 1rem 1rem 0);
      @include nb-rtl(margin, 0 0 1rem 1rem);
    }
  }

  /* stylelint-disable */
  toaster-container /deep/ {
    #toast-container .toast-close-button {
      right: 0;
    }
  }
  /* stylelint-enable */

  @include media-breakpoint-down(xs) {
    .dropdown-toggle {
      font-size: 0.75rem;
    }
  }
}
