<nb-card>
  <nb-card-header class="header">
    Insufficient Information<br>
    <div class="row text-center etxt" style="margin-top:2em;" *ngIf="isSelected" >
      
      <div class="col-md-6">
        <button class="btn btn-warning btn-round">Refund</button>
      </div>
     
      <div class="col-md-6">
        <button class="btn btn-danger btn-round">Delete</button>
      </div>
  </div>
  </nb-card-header>

  <nb-card-body class="custom-card">
  <div class="smart-table-container">
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="userRowSelect($event)">
    </ng2-smart-table>
  </div>
  </nb-card-body>
</nb-card>
