<nb-card>
    <nb-card-header class="header">
      Refund<br>
      <div class="row text-center etxt" style="margin-top:2em;" *ngIf="isSelected" >
        
        <div class="col-md-12">
          <button class="btn btn-warning btn-round">Refund</button>
        </div>
    </div>
    </nb-card-header>
  
    <nb-card-body class="custom-card">
    <div class="smart-table-container">
      <ng2-smart-table [settings]="settings">
      </ng2-smart-table>
    </div>
    </nb-card-body>
  </nb-card>