<section class="btnSec">
    <div class="row text-center">
        <div class="col-md-3" *ngIf="isActivate">
            <button class="btn btn-success btn-round">Activate</button>
        </div>
        <div class="col-md-2" *ngIf="isDeactivate">
            <button class="btn btn-warning btn-round">Deactivate</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-round">Send Msg</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-round">Edit</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger btn-round">Delete</button>
        </div>
    </div>
</section>
<section>
    <div>
        <label>ID</label> : <span></span><br>
        <label>Name</label> : <span></span><br>
        <label>Email</label> : <span></span><br>
        <label>Phone Number :</label> : <span></span><br>
        <label>Address</label> : <span></span><br>
        <label>Specialization</label> : <span></span><br>
        <label>Sub. Specialization</label> : <span></span><br>
        <label>Degree</label> : <span></span><br>
        <label>Type</label> : <span></span><br>
        <label>Age</label> : <span></span><br>
        <label>Ability to answer English consultations </label> : <span></span><br>
        <label>Ability to answer frensh consultations</label> : <span></span><br>
        <label>Doctor's Clincs </label> :<br>
        <div class="smart-table-container" style="margin: 3em;">
            <ng2-smart-table [settings]="settings"  >
            </ng2-smart-table>
        </div>
        <label>Rate</label> : <span></span><br>
        <label>Number Of Votes</label> : <span></span><br>
        <label>Answered General Consoltation</label> : <span></span><br>
        <label>Total Directed Consoltations</label> : <span></span><br>
        <label>Un-Answered Directed Consoltations</label> : <span></span><br>
        <label>Total Balance</label> : <span></span><br>
        <label>Current Balance</label> : <span></span>
    </div>
</section>